{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Booking Detail</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Room Number: {{ booking.room.number }}</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>User:</strong> {{ booking.user }}</li>
                <li class="list-group-item"><strong>Start Time:</strong> {{ booking.start_time }}</li>
                <li class="list-group-item"><strong>End Time:</strong> {{ booking.end_time }}</li>
                <li class="list-group-item"><strong>Created At:</strong> {{ booking.created_at }}</li>
            </ul>
        </div>
    </div>
</div>

{% endblock body %}