{% extends 'hotel/index.html' %}
{% block body %}
<div class = "container">
    {% if request.user.is_authenticated %}
    <h1>Booking form:</h1>
    <form method="POST" action="{% url 'booking_form' %}">
    {% csrf_token %}
        <label>Room number:</label>
        <input type = "text" id = "room_number" name = "room_number">
        <br>
        <label>Start time:</label>
        <input type = "datetime-local" id = "start_time" name = "start_time">
        <br>
        <label>End time:</label>
        <input type = "datetime-local" id = "end_time" name = "end_time">
        <br>
        <button type = "submit">Submit</button>
    </form>

</div>
    {% else %}
        <h1>You are not authenticated</h1>
    {% endif %}
{% endblock %}