{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h2>Room Detail:</h2>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Room {{ room.number }}</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Capacity: {{ room.capacity }}</li>
                <li class="list-group-item">Location: {{ room.location }}</li>
                <li class="list-group-item">Description: {{ room.description }}</li>
            </ul>
        </div>
    </div>
</div>
<style>
    .calendar {
        display: flex;
        flex-wrap: wrap;
        width: 350px; /* Або будь-яка інша ширина, в залежності від розміру квадратиків */
    }

    .day {
        width: 45px; /* Ширина квадратика */
        height: 45px; /* Висота квадратика */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2px;
        border-radius: 5px; /* Закруглення країв */
    }

    .free {
        background-color: lightgreen; /* Колір для вільних днів */
    }

    .booked {
        background-color: lightcoral; /* Колір для зайнятих днів */
    }
</style>
<h2>Доступність кімнати №{{ room.number }} на {{ today|date:"F Y" }}</h2>
<div class="calendar">
    {% for day in days_of_month %}
        <div class="day {% if day in booked_days %}booked{% else %}free{% endif %}">
            {{ day }}
        </div>
    {% endfor %}
</div>

{% endblock body %}
